/*Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*common*/
/*kế thừa kiểu chữ*/
html{
    scroll-behavior:smooth ;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.text-while{
    color: #fff !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: calc(100%/3);
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.mt-8{
    margin-top:8px !important;
}

.mt-16{
    margin-top:16px !important;
}

.text-center{
    text-align: center;
}

/*main*/
#main{
    overflow: hidden;
}
/*tạo thanh header*/
#header{
    position: fixed;
    width: 100%;
    height: 46px;   
    background-color: #000;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
}
/*các thẻ nav ở trên header*/
.nav{
    display: inline-block;
}
/*xóa kiểu list của thẻ nav và subnav*/
.nav,.subnav{
    list-style-type: none;
}
/*hiện thị thẻ li là con cấp 1 của nav 
dạng khối và nằm trên 1 hàng*/
.nav >li{
    display: inline-block;
}
/*tạo 1 thuộc tính phụ thuộc*/
.nav li {
    position: relative;
}
/*in hoa các chữ trong thẻ li là con cấp 1 của thẻ nav*/
.nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
/*padding và xóa gạch chân cho các thẻ li */
.nav  li  a{
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
}
/*hover cho thẻ li hiện thị dạng khối*/
.nav li:hover .subnav{
    display: block;
}
/*hover cho thẻ li là con cấp 1 
của thẻ nav hiện thị dạng khối và trên 1 hàng*/
.nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    display: inline-block;
}
/*tạo bóng cho menu và ẩn nó đi 
và định vị trí theo thành bên ngoài*/
.nav .subnav{
    display: none;
    position: absolute;
    top:100%;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*hiện thị kiểu hộp cho thẻ subnav*/
.nav .subnav a{
    color: #000;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}

.nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

.nav .nav-icon{
    font-size: 12px;
}

#header .mobile-menu-btn,
#header .search{
    float: right;
    padding: 0 21px;
}

#header .mobile-menu-btn{
    position: absolute;
    top:0;
    right: 0;
    display: none;
}

#header .search:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    line-height: 46px;
    font-size: 20px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top:50% ;
    background:url("https://www.w3schools.com/w3images/chicago.jpg") top center no-repeat ;
    background-size: cover;
}

#slider .slider-img{
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}

#silder .text{
    font-weight: 500px;
    padding: 24px;
}

#slider .text-slider{
    font-size: 15px;
    margin-top: 25px;
}

#content{
    
}

#content .section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;/*căn giữa*/
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500px;
    letter-spacing: 4px;/*tăng khoảng cách giữa các chữ*/

}
#content .section-subheding{
    font-size: 15px;
    text-align: center;/*sắp xếp nội dung theo
    chiều ngang nằm giữa*/
    margin-top: 25px;
    font-style: italic;/*kiểu in nghiêng*/
    opacity: 0.6;/*thuộc tính làm mờ*/
}

#content .about-text{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.4;/*tăng khoảng cách giữa các dòng
    (nếu là tiếng việt là 1.6)*/
    text-align: justify;
}
#content #member{
    margin-top: 32px;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;/*bo góc cho ảnh*/
}

#content .tour-section{
    background-color: #000;
}

#content .ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom:1px solid #ddd ;
    color: #757575;
    list-style-type: none;
}

.ticket-list .Sold-out{
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}


.place-list{
    margin-top: 16px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    
}

.place-content{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600px;
}

.place-time{
    margin-top: 15px;
    color: #757575;
    font-style: italic;
}

.place-desc{
    line-height: 1.4;
    margin: 20px 0;
}

.place-buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    margin-bottom: 8px;
    display: inline-block;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/*contact form*/
.contact-content{
    margin-top: 32px;
}

.contact-infor{
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor a{
    color: #101aef;
    opacity: 0.8;
}

.contact-infor a:hover{
    opacity: 1;
}

.contact-infor i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-form .form-submit-btn {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    border: none;
}

.form-submit-btn:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}
/*footer form*/

.map{
    width: 100%;
}

#footer{
    width: 100%;
    height: 216px;
    font-size: 20px;    
    text-align: center;
    justify-content: center;
    opacity: 0.5;
}

.footer-form{
    padding: 64px 16px;
    font-size: 24px;
}

.footer-medium{
    color: #000;
    font-size: 15px;
    margin: 15px 0;
}

.footer-form >a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.footer-form .footer-medium a:hover,
.footer-form a:hover{
    background-color: #ccc;
    opacity: 0.6;
}

.model{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;/*cả 3 dùng căn giữa*/
    align-items: center;
    justify-content: center;
}

.model.open{
    display: flex;
}

.model-container{
    background: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modelFadein ease .5;
}

.model-header{
    background:#009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.model-heding-icon{
    margin-right: 16px;
}

.model-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.model-close:hover{
    color: #000;
    background: #ccc;
}

.model-body{
    padding-left: 16px;
    padding-right: 16px;
}

.model-label{
    margin-top: 15px;
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.model-input{
    margin-bottom:20px ;
    padding: 10px;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
}

#buy-tickets{
    width: 100%;
    font-size: 15px;
    color: #fff;
    background:#009688;
    margin: 16px 0;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;/*xóa viền*/
}

#buy-tickets:hover{
    opacity: 0.9;
}

.model-footer{
    text-align: right;/*để chữ sang phải*/
    padding-bottom: 15px;
}

.model-footer a{
    color: #2196f3;
}

.model-open{

}

@keyframes modelFadein {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

